.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .highlight {
    background-color: rgb(24, 162, 209);
  }

.centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
}